[submodule "macports"]
  path = .macports
  url = https://raw.github.com/HeSYINUvSBZfxqA/macports
[submodule ".rbenv"]
	path = .rbenv
	url = https://github.com/HeSYINUvSBZfxqA/rbenv
[submodule ".cue"]
	path = .cue
	url = https://github.com/HeSYINUvSBZfxqA/cue
[submodule ".junas"]
	path = .junas
	url = https://github.com/HeSYINUvSBZfxqA/junas
[submodule ".hubflow"]
	path = .hubflow
	url = https://github.com/HeSYINUvSBZfxqA/hubflow
